<mat-card class="register-card">
  <mat-card-header class="header">
    <h1>Registre-se na Gororoba do Paulinho</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="register-form" #registerForm="ngForm" (ngSubmit)="register(registerForm)">

      <mat-form-field class="form-field">
        <input type="email" name="email" matInput placeholder="Digite seu E-mail" ngModel required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput type="password" name="password" placeholder="Digite sua senha" ngModel required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput type="number" name="code" placeholder="Digite o código secreto" ngModel required>
      </mat-form-field>

      <!-- Div para agrupar os botões -->
      <div class="button-group">
        <button mat-raised-button color="primary" class="register-button" type="submit">Registrar</button>
        <button mat-button color="primary" class="back-button" (click)="goToLogin()">Voltar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
